@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-blue {
  background: linear-gradient(to right, #59a7ce, #90c5df, #59a7ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-gradient-blue {
  background: linear-gradient(to right, #1b83b7, rgb(77, 185, 238), #0c6896);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.card {
  border: 1px solid #3d3e44;
  max-width: 230px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #9e9ea0;
}

.card:hover {
  background-color: #3d3e44;
}

.row {
  display: flex;
}

.prevChats {
  background-color: #35363c;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.prevChats:hover {
  background-color: #2b2b30;
}

.critiqueUser {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  height: auto;
  gap: 10px;
  margin-bottom: 20px;
}

.critiqueUserChat {
  background: #3f3f46;
  padding: 10px 10px;
  border-radius: 5px;
  max-width: 70%;
}

.critiqueBot {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  height: auto;
  gap: 10px;
  margin-bottom: 20px;
}

.critiqueBotChat {
  background: #2e2e30;
  padding: 10px 10px;
  border-radius: 5px;
  max-width: 100%;
}

.flip-horizontal {
  transform: scaleX(-1);
}
